body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.category {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

td img {
    width: 60px;
    height: auto;

}

.image{
    width: 47px;
}

.padding{
    padding: 3px 3px 0px 3px !important;
}

.total {
    display: flex;
    justify-content: flex-end;
    padding:  10px 30px 10px 10px;
}

.counter {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 50px;
    padding: 5px;
    width: 100px;
    justify-content: space-between;
  }
  
  button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
  }
  
  button:focus {
    outline: none;
  }
  
  .count {
    font-size: 18px;
    font-weight: bold;
  }
  
  .center-div{
    display: flex;
    justify-content: center;
  }

  .quantity{
    width: 50px !important;
  }